USE [master]
GO
/****** Object:  Database [bdEmpresa]    Script Date: 26/10/2024 09:07:44 ******/
CREATE DATABASE [bdEmpresa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bdEmpresa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2019\MSSQL\DATA\bdEmpresa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bdEmpresa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2019\MSSQL\DATA\bdEmpresa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bdEmpresa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bdEmpresa]
GO
/****** Object:  User [usuariobd]    Script Date: 26/10/2024 09:07:44 ******/
CREATE USER [usuariobd] FOR LOGIN [usuariobd] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usuariobd]
GO
/****** Object:  Table [dbo].[tbDepartamento]    Script Date: 26/10/2024 09:07:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDepartamento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[sigla] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[telefone] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbDepartamento] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbFuncionario]    Script Date: 26/10/2024 09:07:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbFuncionario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[departamentoId] [int] NULL,
	[nome] [nvarchar](50) NULL,
	[nomeMae] [nvarchar](50) NULL,
	[nomePai] [nvarchar](50) NULL,
	[dataNascimento] [datetime] NULL,
 CONSTRAINT [PK_tbFuncionario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
